<%- include  ../../partials/header.ejs %>
<body>
 <%- include  ../../partials/navbar.ejs %>
<div class="container">
    <hr>
    <div class="card">
    
    <div class="card-header">
       <h2> Novo Artigo</h2> 
    </div>
    <div class="card-body">
    <form action="/articles/save"  method="post">
    <input type="text " name="title" placeholder="define o titulo do Artigo" class="form-control" required>
    <br>
    <textarea name="body" class="form-control" placeholder="Escreva aqui o seu artigo" id="article"></textarea><br>
    <label >Categorias</label>
    <select name="category" class="form-control">

        <% categories.forEach((category)=>{%>
            <option value="<%=category.id%>"><%=category.title%></option> 
        <%})%>
    </select>
     <button class="btn btn-success"> Cadastrar</button>
    </form>
</div>
</div>
</div>
</body>
<%- include ../../partials/footer.ejs %>
<script src="/tinymce/tinymce.min.js"></script>
<script >
tinymce.init({
    language: 'pt_BR',
    selector:"#article",
    plugins: [
        'advlist autolink link image list print visualchars paste hr preview wordcount fullscreen searchreplace insertdatetime fullpage media save table emoticons'
    ]
})

</script>