<%- include  ../../partials/header.ejs %>
<body>
 <%- include  ../../partials/navbar.ejs %>
 <div class="container">
     <hr>
     <h2>Categorias</h2>
     <a href="/admin/categories/new"><button class="btn btn-success">Criar nova categoria</button></a>
     <hr>
     <table class="table table-bordered">
         <thead>
             <tr>
                 <th>ID</th>
                 <th>Titulo</th>
                 <th>Slug</th>
                 <th>Ações</th>
             </tr>
         </thead>
         <tbody>
             <% categories.forEach(category =>{ %>
             <tr>
                <th><%= category.id%></th>
                <th><%= category.title%></th>
                <th><%= category.slug%></th>
                 <th>
                  <a href="/admin/categories/edit/<%= category.id%>">  <button class="btn btn-warning">Editar</button></a>
                     <form action="/categories/delete" method="post" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                        <input type="hidden" name="id" value="<%= category.id%>">
                     <button class="btn btn-danger">Deletar</button>
                    </form>
                 </th>
             </tr>
            <% })%>
         </tbody>
     </table>
 </div>
 
</body>
<%- include ../../partials/footer.ejs %>
<script >
function confirmarDelecao(event, form){
event.preventDefault();
   var decision = confirm("Voce deseja deletar essa categoria ?");
   if (decision) {
       form.submit();
   }
}

</script>
